.body-back {
  /* background-color: rgb(38, 38, 38); */
  /*   background-color: rgb(53, 49, 134); */
  color: white;
}

@font-face {
  font-family: mandarian-bold;
  src: url("fonts/Madani\ Arabic\ Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: mandarian-light;
  src: url("fonts/Madani\ Arabic\ Light.ttf");
  font-weight: normal;
  font-style: normal;
}

.mandarian-bold {
  font-family: mandarian-bold;
}

.mandarian-light {
  font-size: 9.5;
  font-family: mandarian-light;
}

.fondo-azul {
  background-color: rgb(53, 49, 134);
  color: white;
}

.fondo-blanco {
  background-color: white;
  color: rgb(53, 49, 134);
}

.justificar {
  text-align: justify;
}

.bosque {
  background-image: url("img/bosque.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.margen-minimo {
    margin: 2px !important; /* Cambia el valor 5px según tus necesidades */
  }

  .min{
    min-width: 550px;
  }


  .imgParticipantes img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 401px) {
    .imgParticipantes img {
      max-width: 400px;
    }
  }

  @media screen and (max-width: 400px) {
    .imgParticipantes img {
      max-width: 100%;      
    }
  }


  .croquisRegla img {
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 400px) {
    .croquisRegla img {
      max-width: 300px;
    }
  }

  @media screen and (max-width: 401px) {
    .croquisRegla img {
      max-width: 100%;     
    }
  }

  .imgLogo img{
    max-width: 100%;       
  }  
  @media screen and (max-width: 401px) {
    .imgLogo img {
      max-width: 170px;
    }
  }
  @media screen and (min-width: 400px) {
    .imgLogo img {
      max-width: 100%;
    }
  }




  .fuente {
    font-size: 16px; /* Tamaño de fuente base */
  }

@media screen and (min-width: 1023px) {
  .fuente {
    font-size: 16px; /* Incremento de tamaño de fuente para pantallas más grandes */
  }
}

@media screen and (min-width: 1024px) {
  .fuente {
    font-size: 24px; /* Incremento adicional de tamaño de fuente para pantallas aún más grandes */
  }
}




.modal .modal-dialog {
  max-width: 510px; /* Set default maximum width for the modal */

}

  /* Media query for screens larger than 1024px */
  @media screen and (min-width: 1024px) {
    .modal .modal-dialog {
      max-width: 1000px; /* Increase maximum width for screens larger than 1024px */
      height: auto;      
    }
  }